.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  height: 125px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #f6851b;
  border-radius: 12px;
  background: #151224;
}

.product-card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.product-card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin-right: 20px;
}

.product-card-text-details-price {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

.product-card-image {
  width: 70px;
  height: 70px;
  object-fit: contain;
  flex: 1;
}

.product-card-button {
  width: 20px;
  height: 20px;
  background: #f6851b;
  border-radius: 3.57143px;
}

.product-card-text-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.product-card-text-details {
  display: flex;
  flex-direction: row;
  color: #548498;
  align-items: center;
  justify-content: center;
}

.product-card-text-details-co2 {
  height: 12px;
  width: 25px;
}